{%  load static %}
{% load  carro_tag %}
<!DOCTYPE html>
<html lang="en">
{% include 'base.html' %}

<body>
        <!-- top nav bar -->
        {% include "TopBarNav.html" %}
        <!-- top nav bar -->
    
        <!-- nav bar -->
        {% include "header.html" %}
        <!-- nav bar -->
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box" style="background-color: rgb(0, 0, 0);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Checkout</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tienda</a></li>
                        <li class="breadcrumb-item active">Pago</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                    {% if user.is_authenticated %}
                            <h3>Datos del cliente</h3>
                        </div>
                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value="{{user.nombre}}" required>
                                    <div class="invalid-feedback"> Valid first name is required. </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value="{{user.apellido}}" required>
                                    <div class="invalid-feedback"> Valid last name is required. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="username">Nombre de usuario</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="username" placeholder="" value ="{{user.username}}" required>
                                    <div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="" value="{{user.email}}">
                                <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                            </div>
                            <div class="mb-3">
                                <label for="address">Dirección</label>
                                <input type="text" class="form-control" id="address" placeholder="" required>
                                <div class="invalid-feedback"> Nesesitamos una dirección para llevarte el producto </div>
                            </div>
                            <div class="mb-3">
                                <label for="address2">Dirección 2</label>
                                <input type="text" class="form-control" id="address2" placeholder=""> </div>
                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="country">Ciudad</label>
                                    <select class="wide w-100" id="country">
									<option value="" data-display="Select"></option>
                                    <option value="United States">I Región de Tarapacá</option>
                                    <option value="United States">II Región de Antofagasta</option>
                                    <option value="United States">III Región de Atacama</option>
                                    <option value="United States">IV Región de Coquimbo</option>
                                    <option value="United States">V Región de Valparaíso</option>
                                    <option value="United States">VI Región del Libertador General Bernardo O’Higgins</option>
                                    <option value="United States">VII Región del Maule</option>
                                    <option value="United States">VIII Región del Biobío</option>
                                    <option value="United States">IX Región de La Araucanía</option>
                                    <option value="United States">X Región de Los Lagos</option>
                                    <option value="United States">XI Región Aysén del General Carlos Ibáñez del Campo</option>
                                    <option value="United States">XII Región de Magallanes y Antártica Chilena</option>
                                    <option value="United States">Región Metropolitana de Santiago</option>
                                    <option value="United States">XIV Región de Los Ríos</option>
                                    <option value="United States">XV Región de Arica y Parinacota</option>
                                    <option value="United States">XVI Región de Ñuble</option>
                                    
								</select>
                                    <div class="invalid-feedback">Encontraste el easter egg  </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="state">Comuna</label>
                                    <select class="wide w-100" id="state">
									<option data-display="Select"></option>
                                    <option>Providencia</option>
                                    <option>Las condes</option>
                                    <option>Santiago Centro</option>
                                    <option>Ñuñoa</option>
                                    
								</select>
                                    <div class="invalid-feedback"> Please provide a valid state. </div>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="save-info">
                                <label class="custom-control-label" for="save-info">Guardar los datos de envio</label>
                            </div>
                            <hr class="mb-4">
                            <div class="title"> <span>Método de pago</span> </div>
                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                    <label class="custom-control-label" for="credit">Tarjeta de débito</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="debit">Tarjeta de crédito</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name">Nombre de la tarjeta</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required> <small class="text-muted">Full name as displayed on card</small>
                                    <div class="invalid-feedback"> Ingresa el número de tu tarjeta </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number">Nuemero de la tarjeta</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                    <div class="invalid-feedback"> Ingresa el número de tu tarjeta </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">Exiración</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                    <div class="invalid-feedback"> Expiration date required </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">CVV</label>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                    <div class="invalid-feedback"> Security code required </div>
                                </div>
                            </div>

                        {% else %}
                        <a href="{% url 'login' %}"><h1>Inicia session o registrate para completar la compra</h1></a>



                        {% endif %}
                            <hr class="mb-1"> </form>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="shipping-method-box">
                                <div class="title-left">
                                    <h3>Método de envio</h3>
                                </div>
                                <div class="mb-4">
                                    <div class="custom-control custom-radio">
                                        <input id="shippingOption1" name="shipping-option" class="custom-control-input" checked="checked" type="radio">
                                        <label class="custom-control-label" for="shippingOption1">Delivery estandar</label> <span class="float-right font-weight-bold">Gratis</span> </div>
                                    <div class="ml-4 mb-2 small">(3-7 Días Hábiles)</div>
                                    <div class="custom-control custom-radio">
                                        <input id="shippingOption2" name="shipping-option" class="custom-control-input" type="radio">
                                        <label class="custom-control-label" for="shippingOption2">Delivery express</label> <span class="float-right font-weight-bold">CLP 10000</span> </div>
                                    <div class="ml-4 mb-2 small">(2-4 Días Hábiles)</div>
                                    <div class="custom-control custom-radio">
                                        <input id="shippingOption3" name="shipping-option" class="custom-control-input" type="radio">
                                        <label class="custom-control-label" for="shippingOption3">Siguiente día hábil</label> <span class="float-right font-weight-bold">CLP 20000</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="odr-box">
                                <div class="title-left">
                                    <h3>Carrito</h3>
                                </div>
                                
                                <div class="rounded p-2 bg-light">
                                    {% if request.session.carro.items %}
                                    {% for key, value in request.session.carro.items %}
                                    <div class="media mb-2 border-bottom">
                                        <div class="media-body"> <a>{{value.nombre}}</a>
                                            <div class="small text-muted">Precio: CLP {{value.precio}} <span class="mx-2">|</span> Cantidad: {{value.cantidad}} <span class="mx-2">|</span> Subtotal: {{value.precio|multiplicar:value.cantidad}}</div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            {% if request.session.carro.items %}
                            {% for key, value in request.session.carro.items %}
                            <div class="order-box">
                                <div class="title-left">
                                    <h3>Tú Orden</h3>
                                </div>
                                <div class="d-flex">
                                    <div class="font-weight-bold">Producto</div>
                                    <div class="ml-auto font-weight-bold">Total</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Sub Total</h4>
                                    <div class="ml-auto font-weight-bold"> CLP {{value.precio|multiplicar:value.cantidad}}</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Cupo endeudamiento</h4>
                                    <div class="ml-auto font-weight-bold">CLP 0 </div>
                                </div>
                                <div class="d-flex">
                                    <h4>Costos de envio</h4>
                                    <div class="ml-auto font-weight-bold"> Gratis </div>
                                </div>
                                <hr>
                                <div class="d-flex gr-total">
                                    <h5>Total de la compra</h5>
                                    <div class="ml-auto h5"> {{value.precio|multiplicar:value.cantidad}} </div>
                                </div>
                                <hr> </div>
                                {% endfor %}
                                {% endif %}
                        </div>
                        <div class="col-12 d-flex shopping-box"> <a href="{% url 'pag_principal' %}" class="ml-auto btn hvr-hover">Hacer Orden</a> </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->

    {% include 'footer.html' %}

</body>

</html>