<div class="main-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="right-phone-box">
          <p>LLAMANOS :  <a href="#"> +56 9 6575 3352</a></p>
        </div>
        <div class="our-link">
          <ul>
            {% if user.is_authenticated %}
              <li>
                <a>{{user.username}}<i></i> </a>
              </li>
              <li>
                <a href="{%url 'logout' %}"><i></i> salir</a>
              </li>
            {% else %}
            <li>
              <a href="{%url 'login' %}"><i></i> Mi Cuenta</a>
            </li>
            {% endif %}
            
            <li>
              <a href="#"><i></i> Contactanos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
