{% load static %}
{% include 'base.html' %}
{% include "header.html" %}

    <section class="container xmt-70px">
        <div class="xregister-form">
            <h2>Crea tu Cuenta</h2>

            <form method="POST"> {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-info btn-lg btn-block mt-3" value="Registrar"></input>
            </form>
        </div>
    </section>


{% include 'footer.html' %}
    <script src="{% static '/js/validateForm.js' %}"></script>
    <script src="{% static '/js/validarRut.js' %}"></script>
</body>
</html>